<%= form_with(model: ensalada) do |form| %>
  <% if ensalada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ensalada.errors.count, "error") %> prohibited this ensalada from being saved:</h2>

      <ul>
        <% ensalada.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.number_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
